@media screen and (max-width:992px) {

  .ib-act{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

   .ib-act i{
    display: block;
    font-size: 30px;
    
  }

  .aside-up li{
    display: none;
  }

  th .ib-none-m{
    display: block !important;
  }

  .aside-down span{
    display: none;

  }
  

}


@media screen and (max-width:768px) {

  .aside{
    min-width: 50px;
  }

  th .ib-none-m{
    display: none;
  }

  
}