@media screen and (max-width:992px) {

  .ib-act{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

   .ib-act i{
    display: block;
    font-size: 30px;
    
  }

  .aside-up li{
    display: none;
  }

  .ib-head-mai{
    height: 200px;
  }

  

  .aside-down span{
    display: none;
  }

.prova-tbl{
  display: none;
}




  

}


@media screen and (max-width:768px) {

  .aside{
    min-width: 50px;
  }

  th .ib-none-m{
    display: none;
  }


}


@media screen and (max-width: 576px) {
  .prova-tbl-roi{
    display: none;
  }




  
}