body{
  font-family: 'Roboto', sans-serif;;
}

.ib-cont{
  height: 100%;
}

.debug{
  border: 1px solid black;
}

header{
  height: 70px;
}

.ib-logo{
  width: 80%;
}
.ib-mobile-logo{
  width: 60%;
  margin: auto;
}

.ib-serch{
  display: flex;
  vertical-align: middle;
}

.ib-serch .form-control{
  background-color: #E5E5E5;
  border: 0px;

}

.input-group-text{
  background-color: #E5E5E5;
  border: 0px ;

}

.in ul{
  list-style: none;
  display: flex;
  line-height: 70px;
  justify-content: flex-start;
  padding: 0;
}

.in i{
  font-size: 20px;
  color: darkgray;
  margin: 10px;
}

.ib-con-camp{
  display: flex;
  align-items: center;
   justify-content: flex-start;
}
.ib-camp{
color: #F58F01;
font-size: 25px;
align-self: center;
}

.btn-secondary{
  border: 0px;
  padding: 0;
  text-align: center;
}

/* FINE HEADER  */

.aside{
  width: 10%;
  height: calc(100vh - 70px );
  background-color: #071E34;
  color: white;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: url(../img/sidebar-bg.png);
} 

.aside .aside-up, 
.aside-down{
  margin-top: -17px;
}

.aside .aside-up a i{
  color: #ffff;
  font-size: 30px;
}

.aside .aside-up ul{
  padding: 0;
}


.aside .aside-up ul li i{
  font-size: 30px;
  vertical-align: middle;

}

.aside ul {
list-style: none;
color: #ffff;

}

.aside ul li  a{
  color: #ffff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 200;
}

.aside ul li:hover{
  background-color: darkgray;
}

.aside-down{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.aside-down span{
  font-size: 0.9rem;
}
.aside-down a{
  color: #ffff;
  text-decoration: none;
}

.aside-down a:hover{
  background-color: darkgray;
}

.aside-down i{
  font-size: 20px;
  margin: 0px 5px;
}


/* FINE ASIDE  */

.ib-head-mai{
  height: 120px;
  width: 100%;
}

.ib-head-mai h2{
  color: #ffff;
  font-weight: 100;
  margin-top: 5px;
}

.ib-left-blue-h{
  width: 90%;
}

.ib-head-mai p{
  margin-top: 5px;
  color: #ffff;
}

.ib-bg{
  background-color: #295CBA;
  margin: 5px 5px;
  font-size: 0.9rem;
}

.ib-head-mai i {
  color: #ffff;
}
.ib-mai-cont{
  display: flex;
}

/* fine header blu  */

main{
  height: calc(100vh - 70px);
  width: calc(100% - 10%);
  overflow: auto;
}

/* MAIN  */

.ib-to-lef{
margin-top: 10px;
}

.con-tbl{
  height: 100%;
  width: 100%;
  border:1px solid darkgray;
  border-radius: 10px;
}

.to-l-tit{
  height: 70px;
  background-color: #F7F7F7;
  border-bottom: 1px solid darkgray;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  
}

.btn-primary.ib-btn{ 
  background-color: #ffff;
  font-size: 40px;
  color: #396EFD;
  padding: 0 10px;
}


.offcanvas{
  width: 70% !important;
} 


.to-l-tit .ib-plus{
  font-size: 40px;
  font-weight: bold;
  margin: 0 auto;
  color: #396EFD;
  border: 1px solid #396EFD;
}

.ib-align{
  display: flex;
  align-items: center;
}

.img-cont{
  height: 40px;
  width: 40px;
  margin: 0 5px;
}

.img-cont img{
  width: 100%;
}

.ib-pen i{
  color: darkgray;
}

.ib-pen{
  height: 40px; 
  width: 40px;
  margin: 0 10px;
  border: 1px solid darkgray;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
  color: gainsboro;
  cursor: pointer;

}

.ib-tbl-nm{
  width: 30%;
}

.ib-mail{
  vertical-align: middle;
}


.ib-pen:hover{

  background-color: lightgrey;

}
.ib-las{
  justify-content: center;
}

.text-bg-warning{
  color: white !important;
}




/* FINE TABELLA  */

.ib-bt-lef{
  padding: 10px;
}
.con-faq{
width: 100%;
height: 100%;
border: 1px solid darkgray;
border-radius: 10px;
padding-bottom: 3px;
}

.faq-title{
  height: 70px;
  width: 100%;
  background-color: #F7F7F7;
  margin-bottom: 20px;
  border-bottom: 1px solid darkgray;
  border-radius: 10px;
  padding: 10px;
}

/* FINE FAQ  */

.ib-to-r{
  margin-bottom: 20px;
}

.check-cont-all{
  border: 1px solid darkgray;
  border-radius: 10px;
  margin: 10px auto;
  padding: 5px;
  width: 100%;
}

.ib-to-r-head{
  height: 70px;
  width: 100%;
  background-color: #F7F7F7;
  margin-bottom: 30px;
}


.chack-cont input{
  margin: 10px;
  
}


.ib-bt-r{
  border-radius: 15px;
}

.ib-in-stat{
  padding: 15px;
}

.ib-stat{
  height: 100%;
  width: 100%;
  border: 1px solid darkgrey;
  border-radius: 10px;

}






/* FINE MAIN  */